# --- Benutzerkonten -------------------------------------------
# Hashes generieren: node tools/generate-passwords.js
USER_USER_NAME=benutzer
USER_USER_PASS_HASH=$2a$12$HIER_BCRYPT_HASH_FUER_USER

USER_ADMIN_NAME=admin
USER_ADMIN_PASS_HASH=$2a$12$HIER_BCRYPT_HASH_FUER_ADMIN
